body {
    background: black;
    width: 800px;
    margin: auto;
}
/*This is how you save a comments*/
h1{
    text-align: center;
    color : red;
}


p {
    color: yellow;
    border: 1px solid gray;
    padding: 10px; 
    /*text-align: center;*/
}

div{
	color : white;
	background : orange;
	text-align : center;
}