body {
    background: black;
    width: 800px;
    margin: auto;
}
/*This is how you save a comments*/
h1{
    text-align: center;
    color : red;
}


p {
    color: yellow;
    border: 1px solid gray;
    padding: 10px; 
    text-align: center;
}

#wrapper{
	width: 795px;
	border: solid gray;
	overflow: auto;
}

#first{
	width: 49.1%;
	float: left;
	border: 1px solid white;
}

#second{
	width: 50%;
	border: 1px solid white;
	float: left;
	overflow: hidden;
}


.bacon{
	color : green;
	background : white;
	text-align : center;	

}

div{
	color : white;
	background : orange;
	text-align : center;
}

/*https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other*/